	html{
	font-size:10px;}
	aside
	{
		color:white;
		display:block;
		float:right;
		box-sizing: content-box;
		width:20%;
		height:1%;
		background-color:#00004d;
		padding:1rem;
		padding-bottom:0.5rem;
		padding-top:0.5rem;
		margin-top: 5%;
		margin-right:18%;
		margin-left:3%;
		/*font-size: 50%;*/
		
	}
	
	.fa
	{
	margin-top:0.9%;
	margin-bottom: 0.2%;
    margin-left: 0.5%;
    width: 2.5%;
    margin-right: 0.5%;
    float: left;
	position:relative;
	}
	
	.fa:hover
	{
		opacity:0.7;
	}
		
	
	#imagine
	{	margin-top:3%;
		width:45%;
		height:24%;
		position:relative;
		margin-left:10%;
	}

	.image
	{
		width: 17%; 
		height: auto;
		border-radius:50%;
		margin-left:3%;
		margin-right:2%;
		margin-bottom:0;
		margin-top:3%;
	}

	@media screen and (max-width:600px)
	{
		#imagine
		{
			margin-left:1%;	
		}
	}
	