	*{
		box-sizing: border-box;
		margin:0;
		padding:0;
	}
	
	.paragrafe
	{
		line-height: 120%;
		margin-top: 0.2rem;
		margin-bottom: 0.1rem;
		margin-right: 2%;
		margin-left: 2%;
		color: black;
		text-indent:1.5rem;
	}
	
	.img1
	{
		border-radius: 0.4rem;
		padding:0;
		width: 20%;
		height:9%;
		float: left;
		margin-right:2%;
		margin-left:2%;
	}
	
	.img2
	{
		border-radius: 0.4rem;
		padding:0;
		width: 20%;
		height:9%;
		float: right;
		margin-right:2%;
		margin-left:2%;
	}
	
	 th,td{
			width:5rem;
            border:0.1rem solid black;
            padding:2%;
			margin:7%;
			box-sizing: border-box;
        }
	table
	{
		border-collapse:collapse;
		margin-left:5%
	}

	@media screen and (max-width:600px)
	{
		.img1
		{
			width: 40%;
			height:20%;
		}
		
		.img2
		{
			width: 40%;
			height:20%;
		}
	}

	
	